# Base de datos (dentro de docker la hostname es 'db')
DATABASE_URL=postgresql+psycopg://tit_user:tit_pass@db:5432/tit_proy

# App
SECRET_KEY=supersecretkey
APP_BASE_URL=http://localhost:8000

# Slack (opcional): webhook de Incoming Webhooks
SLACK_WEBHOOK_URL=
